.flex_1{
  display: flex;
  justify-content: space-between;
}
.center_flex{
  align-items: center;
}
a{
  text-decoration: none;
  padding-left: 10px;
}
.navlinks{
  margin-left: auto;
}
.col_1{
  flex: 1;
}
.col_2{
  flex: 2;
}
.block{
  padding: 10px;
  background-color: lightgray;
  border-radius: 10px;
  margin: 10px;
}
button{
  width: 100%;
  background-color: yellow;
  padding: 5px 8px;
  border: 1px solid black;
  margin-top: 15px;
  cursor: pointer;
}
img.small{
  max-height: 10rem;
  width: 300px;
}
button.add{
  background-color: blue;
  width: 1.5rem;
  border-radius: 5px;
  margin: 3px;
}
button.remove{
  background-color: red;
  width: 1.5rem;
  border-radius: 5px;
  margin: 3px;
}
button.badge{
  background-color: red;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}
.text_right{
  text-align: right;
}